node_modules
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.env.production

.next
.next/types
.next/dev/types
.next/dist
.next/dist/types
.next/dist/dev/types
.next/dist/build
.next/dist/build/types
.next/dist/build/dev/types

dev